body 
{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2; /* Roman Republic background color */
}

header 
{
    height: 20vh;
    background: url('https://picsum.photos/1920/250') center/cover no-repeat;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

main 
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

.forum-room 
{
    min-height: 300px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 0;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.forum-room:hover 
{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.room-content 
{
    flex: 1;
    padding: 20px;
}

.room-details 
{
    background-color: #ddd;
    padding: 10px;
    text-align: center;
}

.header-buttons 
{
    display: flex;
    gap: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.main-page-container
{
    display: flex;
    gap: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.header-buttons a, .main-page-container a 
{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 0;
    transition: background-color 0.3s ease;
}

.header-buttons a:hover, .main-page-container a:hover 
{
    background-color: rgba(255, 255, 255, 0.2);
}

.create-room-button 
{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 0; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.5em
}

.create-room-button:hover 
{
    background-color: #45a049;
}

h1 
{
    margin: 0;
    flex: 1;
    text-align: center;
}

.pagination 
{
    display: flex;
    margin-top: 20px;
    margin-left: 5px;
}

.pagination a 
{
    color: #fff;
    background-color: #808080;
    padding: 10px 15px;
    text-decoration: none;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.pagination a:hover 
{
    background-color: #555;
}

.search-bar {
    position: fixed;
    top: calc(20vh + 10px);
    right: 20px;
    display: flex;
    align-items: center;
}

.search-input {
    padding: 8px;
    border: none;
    margin-right: 10px;
    font-size: 14px;
}

.search-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #45a049;
}